-e git+https://github.com/IdentityPython/idpy-oidc.git@openid4v#egg=idpyoidc
-e git+https://github.com/rohe/openid4v.git#egg=openid4v
-e git+https://github.com/rohe/satosa-openid4vci.git#egg=satosa-openid4vci 
pystache
